<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vociebasedcotrol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name=".LightControl" 
            android:label="@string/app_name"> 
        </activity>
        <activity
            android:name="com.example.vociebasedcotrol.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Register"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="MainUser"
            android:label="@string/app_name"></activity>
        <activity android:name="MusicControl"></activity>
        <activity android:name="LightOff"></activity>
        <activity android:name="VoiceRec"></activity>
        <activity android:name="showlist"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>  

</manifest>
